div.save_as, div.save_as_tmpl {
 color:black;
 width: 300px;
 height: 80px;
 text-align: center;
 border: solid 1px #eeb;
 padding: 10px;
 margin: auto;
 background-color: #ffc;
 background-repeat: no-repeat;
 background-position: 8px 50%;
 background-image: url(../../images/notify.png);  
 border-radius: 5px;
}
div.save_as_info {
   // width: 100px; height: 100px;
    text-align: center;
    padding:10px;
    margin: auto;
 
}
div.openasrepl {
    padding: 10px;
}